.tipo {
    align-items: center;
	justify-content: center;
    width: 100%;
    height: 40px;
    font-family: 'Merienda One', cursive;
    color: black;
    
}
.checkbtn {
    width: 10px;
    height: 10px;
	margin-left: 30px;
	font-size: 30px;
	color: white;
	cursor: pointer;
	display: none;
    list-style: none;
	margin-top: -1vw;
}
#check {
	display: none;
}
	#dropdown-menu .item .tipo{
		font-size: 16px;
       
	}
	.checkbtn {
		display: block;
	}
	#dropdown-menu{
    	position: fixed;
        width: 100px;
        height: 160px;
		background: rgba(87, 100, 144, 0.80);
		top: 10vh;
		left: -100%;
		text-align: center;
		transition: all .5s;
		z-index: 2;
        
       
	}
	nav #dropdown-menu .item{
		display: block;
	
        
        
	}
	nav #dropdown-menu .item .tipo {
		font-size: 15px;
        display: flex;
        
    
	}
    .tipo:hover, #dropdown-menu .item .tipo.active {
        border: solid 1px black;
        
        
}
	.tipo:hover, .tipo.active {
		background: none;
		color: #3EB195;
        background-color: #576490;
        
        
        
        
        
	}
	#check:checked ~ #dropdown-menu {
		left: 0;
	
}