header {
    width: 100%;
    height: var(--hgtHeader);
    left: 0px;
    top: 0px;
    background: hsla(226, 25%, 45%, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
}
:root{
    --hgtHeader:10vh;
}
#burguer-menu{
    width: 10vw;
	height: var(--hgtHeader);
	display: flex;
	align-items: center;
    margin-top: -0.2vw;
}
#headerItens{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#imgLogo{
    
    height: var(--hgtHeader);
    
}
#cxTexto{
    display: flex;
    width: 200px;
    height: 25px;
    margin-left: 30px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 40px;
    
    
    
}
#texto{
    
    background: rgba(255, 255, 255, 0.73);
    border-radius: 60px;
    border-color: rgba(255, 255, 255, 0.73);
    
}
#imgSearch{
    
    margin-left: 20px;
    
}
/* #logo{
    
    margin-right: 100%;

} */
button{
    box-shadow: none;
    border: none;
    background: none;
    cursor: pointer;
}